body {
    background-color: #F2F2F2;
    font-family: "Inter", sans-serif;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

header {
    background-color: #0C70F2;
    color: #FFFFFF;
    padding: 8px;
}

header h1 {
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
}

.text-menu {
    display: inline-flex;
    margin-left: 650px;
    margin-top: 10px;
    align-items: center;
}

.text-menu p {
    margin-right: 25px;
    font-weight: 800;
}

.containerTop {
    display: grid;
    grid-auto-flow: column;
}

.textTop {
    width: 600px;
    height: 200px;
    margin: 60px 0px 0px 300px;
    font-weight: bolder;
    justify-content: center;
}

h3 {
    font-weight: 800;
}

.imgTop {
    float: right;
    margin-right: 180px;
    margin-top: 30px;
    width: 35%;
}


.formBox {

  margin: 10px 400px 0px 400px;
  background-color: white;
  padding: 100px 20px 30px 100px;
  border-radius: 20px;
  align-items: center;
}

.btn {
    margin-right: 80px;
    align-items: center;
    border-radius: 10px;
    background-color: #0C70F2;
}

.cep-table {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.table {
    text-align: center;
    width: 50%;
    border-radius: 25px;
    overflow: hidden;
}

.cep-head {
    background-color: #0C70F2 !important;
    color: #FFFFFF !important;
}

.cep {
    display: inline-flex;
    justify-content: center;
    margin: 200px 350px 10px 400px ;
}

.text-footer {
    font-weight: bolder;
    justify-content: center;
}


.img-footer {
    width: 100px;
    margin-left: 20px;
}

.prevTempo {
    display: inline-flex;
    justify-content: center;
    margin: 100px 350px 10px 400px ;
}


.temp-footer {
    width: 660px;
    height: 45px;
    margin-left: 350px;
    margin-top: 10px;
    border: 1px solid #0C70F2;
    border-radius: 20px;
    text-align: center;
}

.footer {
    background-color: #0C70F2;
    height: 90px;
    margin-top: 150px;
    display: flex;
    justify-content: end;
    align-items: center;
}

footer p {
    margin-top: 20px;
    margin-right: 30px;
    color: white;
    font-weight: 600;
}
